.App {
  text-align: center;
  display: grid;
  
  grid-template-areas:
    "header header header header"
    "sidebar dial1 dial2 dial3"
    "sidebar last1 last1 last1";

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem 1fr 1fr;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 4rem;
}

.App-header {
  grid-area: "header";

  background-color: #222;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
